<h1>Editing transaction projection</h1>

<%= render "form", transaction_projection: @transaction_projection %>

<br>

<div>
  <%= link_to "Show this transaction projection", @transaction_projection %> |
  <%= link_to "Back to transaction projections", transaction_projections_path %>
</div>
