<h1>New transaction aggregate</h1>

<%= render "form", transaction_aggregate: @transaction_aggregate %>

<br>

<div>
  <%= link_to "Back to transaction aggregates", transaction_aggregates_path %>
</div>
